spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/todoDb"
    username: "todo"
    password: "todoPassword"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
jwt:
  secret: "ZGlzY3Vzc2lvbnJlZ2lvbmFueWJhc2ljcGFja2NvbnRyYXN0bGl0dGxlbG91ZG5haWw="
  issuer: "Todo Application"
  expiration_time: 1000000
